<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventlocator.eventlocatororganizers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventLocatorOrganizers"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.CreateEventHelpActivity"
            android:label="Help"></activity>
        <activity
            android:name=".ui.ViewImageActivity"
            android:theme="@style/Theme.EventLocatorOrganizers.NoActionBar" />
        <activity
            android:name=".ui.ViewLocationActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="View Location">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.EditConfirmedEventActivity"
            android:launchMode="singleTask"
            android:label="Edit Event"/>
        <activity
            android:name=".ui.EditPendingEventActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Edit event"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.ViewParticipantsDuringALimitedLocatedSession"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Participants">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.EventStatisticsActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Event Statistics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.ViewEventFeedbackActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Event Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDplPLPkGMXu35fWIZlG4n_x7xzarQjhMk" />

        <activity
            android:name=".ui.SelectLocationActivity"
            android:label="Long tap to select a location" />
        <activity
            android:name=".ui.CheckInParticipantActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Check-in Participants">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.EmailParticipantsOfAnEvent"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Email Participants">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.ViewFollowersActivity"
            android:parentActivityName=".ui.ProfileActivity"
            android:label="Followers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>
        <activity
            android:name=".ui.ViewParticipantsOfAnEventActivity"
            android:parentActivityName=".ui.ViewEventActivity"
            android:label="Participants">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ViewEventActivity" />
        </activity>
        <activity
            android:name=".ui.ViewEventActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.EventsActivity"
            android:label="Event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.EventsActivity" />
        </activity>
        <activity
            android:name=".ui.CreateEventActivity"
            android:label="Create Event"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>
        <activity
            android:name=".ui.EventsActivity"
            android:label="Events"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:label="Change Password" />
        <activity
            android:name=".ui.UpdateEmailActivity"
            android:label="Update Email" />
        <activity
            android:name=".ui.IndividualEditProfileActivity"
            android:label="Edit Profile"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>
        <activity
            android:name=".ui.OrganizationEditProfileActivity"
            android:label="Edit Profile"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IndividualSetUpProfileActivity"
            android:label="Setup Profile"
            android:parentActivityName=".ui.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SignUpActivity" />
        </activity>
        <activity
            android:name=".ui.OrganizationSetUpProfileActivity"
            android:label="Setup Profile"
            android:parentActivityName=".ui.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SignUpActivity" />
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:label="Login"/>
        <activity
            android:name=".ui.SignUpActivity"
            android:label="Sign Up"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="Welcome" />
    </application>

</manifest>